body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

img {
    max-width: 450px;
}

button {
    font-weight: bold;
    padding: 8px 16px;
    border-color: transparent;
}

.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 48px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px 24px 48px;
}

.hero-section {
    max-width: 450px;
    padding: 24px;
}

.dark-background {
    background-color: #1f2937;
    color: white;
}

.blue {
    background-color: #3882f6;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.subtitle {
    font-size: 18px;
    color: #e5e7eb;
}

.rounded {
    border-radius: 8px;
}